body{
    background:#80ffe5;
    font-family: 'Source Serif Pro', serif;
    }
    .header_div{
    background:white;
    color:#0000b3;
    }
    .header_div p{
    font-family:"roboto";
    color:grey;
    letter-spacing:2px;
    font-size:12px;
    font-weight:bold;
    }
    .main_div button{
    font-family:"roboto";
    margin-top:30px;
    color:#b30000;
    letter-spacing:3px;
    width:130px;
    font-weight:bold;
    }
    .copy_right_footer{
    position:fixed;
    color:#0033cc;
    width:100%;
    bottom:0;
    font-size:18px;
    background-color:#f5f5f5;
    text-align:center;
    text-shadow:5px 5px 5px grey;
    font-size:18px;
    line-height:3;
    }